# Dirs
.vs
bin/
bin-int/
build/*
.cache/*
.idea/
.vscode/

# Files
imgui.ini
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
Shaders/*.spv
CMakeSettings.json
imgui.ini
Assets/Shaders/vert.spv
Assets/Shaders/frag.spv
Assets/Models/textures
Assets/Models/*.bin
Assets/Models/*.gltf
Assets/Models/*.obj
Assets/Models/*.mtl
Assets/Scenes/Prototype2/Assets
Assets/Scenes/Prototype3/*
Assets/Scenes/*